apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cars-db
  namespace: core
  labels:
    app.kubernetes.io/name: cars-db
    app.kubernetes.io/component: database
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: "4.1.2"
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: postgres
              tag: "15-alpine"
              pullPolicy: IfNotPresent
            env:
              PGDATA: /var/lib/postgresql/data/pgdata
            envFrom:
              - secretRef:
                  name: cars-db-env
            resources:
              requests:
                cpu: "100m"
                memory: "256Mi"
              limits:
                cpu: "500m"
                memory: "1Gi"
    service:
      main:
        ports:
          postgres:
            port: 5432
    persistence:
      data:
        enabled: true
        type: hostPath
        hostPath: /srv/k3s/data/cars/postgres
        globalMounts:
          - path: /var/lib/postgresql/data
