apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: secrets-tailscale
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: tailscale
  source:
    repoURL: https://github.com/guifranchim/cluster-k3s.git
    targetRevision: HEAD
    path: manifests/production/namespaces/tailscale
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
