apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cars-api-env
  namespace: cars
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault
  target:
    name: cars-api-env
    creationPolicy: Owner
  data:
    - secretKey: STORAGE_DRIVER
      remoteRef:
        key: cars/cars-api
        property: STORAGE_DRIVER
    - secretKey: DB_DSN
      remoteRef:
        key: cars/cars-api
        property: DB_DSN
    - secretKey: DB_MAX_OPEN
      remoteRef:
        key: cars/cars-api
        property: DB_MAX_OPEN
    - secretKey: DB_MAX_IDLE
      remoteRef:
        key: cars/cars-api
        property: DB_MAX_IDLE
    - secretKey: DB_CONN_LIFETIME
      remoteRef:
        key: cars/cars-api
        property: DB_CONN_LIFETIME
    - secretKey: GLINER2_ENABLED
      remoteRef:
        key: cars/cars-api
        property: GLINER2_ENABLED
